<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a><img href="https://freecatphotoapp.com" src="https://cdn.freecodecamp.org/curriculum/cat-photo-app/relaxing-cat.jpg" alt="A cute orange cat lying on its back."></a><br>
Имя - {{name}} <br>
Возраст - {{age}} <br>
Уровень счастья - {{happiness_level}} <br>
Уровень сытости - {{hunger_level}} <br>
<div>
    <select name="Выберите значение">
        <option value="value1">1.поиграть с котом</option>
        <option value="value2">2.покормить кота</option>
        <option value="value3">3.уложить кота спать</option>
    </select>
    <form action="create" target="_blank">
        <button>Подтвердить</button>
    </form>
</div>
</body>
</html>