<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<p align = "center">Вас приветствует симулятор кота <br> для начала введите имя кота</p>
<div style="display: flex; align-items: center">
    <label for="textarea" style = "align-items:center"></label>
    <textarea id="textarea"  name="cat_name">Введите имя кота</textarea>
</div>
<br>
<div style = "display: inline-flex">
    <form action="create" target="_blank">
    <button>Создать</button>
    </form>
</div>
</body>
</html>